<div class="card competence-card">
  <div class="card-header">
    <h3>Competencias del Curso</h3>
  </div>
  
  <div class="card-body">
    <!-- Lista de Competencias -->
    <div class="competence-list">
      <div *ngIf="competencias.length === 0" class="empty-list-msg">
        <p>No hay competencias registradas por la dirección para este curso y grado.</p>
      </div>

      <div *ngFor="let comp of competencias" class="competence-item">
        <div class="comp-info">
          <span class="comp-code">{{comp.codigo}}</span>
          <span class="comp-name">{{comp.nombre}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
